.Editor-option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize;
  height: var(--spacing-3);
  width: var(--spacing-3);
  border-radius: var(--spacing-m);
}

.Editor-option:hover,
.Editor-option:focus {
  background-color: var(--secondary-light);
  outline: none;
}

.Editor-option--active {
  background-color: var(--primary-lightest) !important;
}
