name: Pull request 

on: pull_request  

jobs:
  lint_test_build:
    name: lint, test and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
            
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: npm install
        run: npm install

      - name: test
        run: npm run test
        continue-on-error: true

      - name: lint
        run: npm run lint
        continue-on-error: true
